<html>
<head>
  <meta name="go-import" content="code.sapcloud.io/{{.User}}/{{.Name}} git https://github.infra.hana.ondemand.com/{{.User}}/{{.Name}}">
  <meta name="go-source" content="code.sapcloud.io/{{.User}}/{{.Name}}     https://github.infra.hana.ondemand.com/{{.User}}/{{.Name}} https://github.infra.hana.ondemand.com/{{.User}}/{{.Name}}/tree/master{/dir} https://github.infra.hana.ondemand.com/{{.User}}/{{.Name}}/blob/master{/dir}/{file}#L{line}">
</head>
<body>
go get code.sapcloud.io/{{.User}}/{{.Name}}
</body>
</html>